.linkContainer {
    position: relative;
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 35px;
}

.Link {
    color: #ad7600;
    text-decoration: none;
    border: 1px solid #333;
    padding: 10px 5px;
    border-radius: 5px;
}

.Link:hover {
    color: #f8d07b;
}

.detailsContainer {
    color: #c29023;
    margin-top: 40px;
    display: flex;
    margin-inline: auto;
    justify-content: space-around;

}

.strMeal {
    color: #5f4100;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.image {
    border-radius: 15px;
    max-width: 80%;
    margin-bottom: 15px;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
}

.ingredients p {
    margin-bottom: -3px;
    margin-right: 25px;
}

.ingredientsContainer {
    max-width: 700px;
}

.ingredientsHeader {
    margin: 1px auto;
}

.instruction {
    max-width: 690px;
    line-height: 1.5;
}

.instruction p {
    font-size: 14px;
    margin-top: -15px;
}


@media (max-width:1087px){
    .detailsContainer {
       display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
       justify-content: center;
       margin-inline: auto;
       margin-left: 35px;
    }
        .image {
            border-radius: 15px;
            max-width: 80%;
            margin: auto;
            min-height: 40%; 
            margin-bottom: 15px;    
        } 

        .strMeal {
            display: flex;
            justify-content: center;
            margin-right: 50px;
        }

        .instruction {
            max-width: 500px;
            line-height: 1.5;
        }
    
}  

