.linkContainer {
    margin-top: 25px;
    font-size: 14px;
}

.Link {
    color: #ad7600;
    text-decoration: none;
    border: 1px solid #333;
    padding: 10px 5px;
    border-radius: 5px;
}

.Link:hover {
    color: #f8d07b;
}

.detailsContainer {
    color: #c29023;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}




.strMeal {
    margin: 10px auto;
}

/* .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
} */

.image {
    border-radius: 15px;
    min-width: 50%;
    margin-bottom: 15px;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
}

.ingredients p {
    margin-bottom: -3px;
    margin-right: 25px;
}

.ingredientsContainer {
    max-width: 700px;
}

.ingredientsHeader {
    margin: 1px auto;
}



.instruction {
    max-width: 690px;
    line-height: 1.5;
}

.instruction p {
    font-size: 14px;
    margin-top: -15px;
}

@media (max-width:800px){
    .detailsContainer {
        display: grid;
        grid-template: repeat(auto-fit, minmax(300px, 1fr));
    }
    
}

