.parent {
    margin-top: 20px;
    margin-left: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: auto;
}

@media (max-width: 860px){
    .parent {
      margin-inline: auto;
      grid-template-columns: 1fr 1fr;
    }
}