.isLoading {
    position: relative;
    margin: auto;
    color: rgb(204, 0, 255);
}

.inputContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    min-width: 300px;
    border-radius: 15px;
}

.input {
    border: none;
    border-bottom: 1px solid #e3e4dc;
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
    color: #393e46;
    border-radius: 15px;
    min-width: 270px;
}