.foodContainer {
    align-items: center;
    border-radius: 15px;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin: 10px;
    padding: 20px 50px;
    width: fit-content;
}

.image {
    width: 300px;
    border-radius: 10px;
    height: 220px;
}

.foodName {
    color: #ad7600;
    font-size: 20px;
}

.foodName:hover {
    cursor: pointer;
    color: #f8d07b;
}